body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    width: 22%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    padding: 20px;
    text-align: center;
    background: #ff7043;
    color: white;
}

#intro {
    text-align: center;
}

.hero-box {
    align-items: center;
    justify-content: center;
}

.hero-1 {
    width: 100%;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    color: blue;
}

.h2 {
    width: 800px;
}

#h2 {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: arial;
    font-weight: bold;
    font-size: 27px;
    color: green;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h4 {
    font-family: papyrus;
    font-size: 30px;
    color: purple;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-p {
    font-size: 16px;
    padding-left: 20px;
}

.aboutUsImage {

}

.aboutUs1 {
    
}

.content {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.content h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 35px;
    text-align: center;
}

.content .wraps {
    max-width: 455px;
    width: 100%;
    margin: 0 0 20px;
    padding-top: 45px;
}

.content .sides {
    max-width: 455px;
    width: 100%;
    margin: 0 0 20px;
    padding-top: 45px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.menu-p {
    font-family: verdana;
    font-size: 120%;
    line-height: 2.0;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

#note {
    font-family: verdana;
    color: red;
}

.favorites {
    font-family: verdana;
    line-height: 2.0;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.favorites-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.images {
    width: 300px;
}

.images1 {
    width: 100%;
}

.footer {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.link {
    background-color: grey;
}

#copyright {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: grey;
}